<?xml version="1.0" encoding="UTF-8" ?>

<phpunit>
    <php>
        <env name="KERNEL_CLASS" value="BeforeAfterMiddlewareBundle\Tests\Dummy\DummyKernel" />
        <env name="APP_ENV" value="test" />
        <env name="APP_SECRET" value="secret" />
        <env name="SHELL_VERBOSITY" value="-1" />
    </php>
</phpunit>
